{%load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ticket {{ticket.pk}}</title>
	<link rel="stylesheet" href="{% static 'tecketing/index.css' %}">
</head>
<body>

	<h1>View tickets!</h1>
	{% autoescape off %}
		{% if ticket.submitter == 'Mr Robot' %}
			<div>You are viewing a ticket submitted by: {{ticket.submitter | escape}}</div>
			<div>created at : {{ticket.created_at}}</div>
			<div>Body : {{ticket.body | escape}}</div>
		{% else %}
			<div>You are viewing a ticket submitted by: {{ticket.submitter}}</div>
			<div>created at : {{ticket.created_at}}</div>
			<div>Body : {{ticket.body}}</div>
		{% endif %}
	{% endautoescape %}
		
	<a href="{% url 'home' %}">Go home</a>
	
</body>
</html>